[Unit]
Description=BLEScanner
After=network-online.target

[Service]
Type=simple
User=%i
ExecStart=/usr/bin/node /home/pi/blescanner/index.js

[Install]
WantedBy=multi-user.target
